<div class="row">
<div class="col-xs-8 col-xs-offset-2">

	<li>
		<div class="commenterImage">
			<img src={{user.imageThumbUrl}} height="80" width="80" class="img-circle">
		</div>
		<div class="commenterInfo">
			<p>{{user.displayName}}<small>{{ago date}}</small></p>
		</div>
		<div class="commentText">
			<p>{{message}}</p>
		</div>
	</li>

</div>
</div>