<article class="create-comment">

	<div class="row center-block form-inline">
		<div class="commenterImage">
			<img src={{session.user.imageThumbUrl}} height="80" width="80" class="img-circle">
		</div>
		<div class="commentText">
			{{input type="text" value=model.newComment action="createComment" placeholder="say something.."}}
		</div>
	</div>

</article>