<article class="stack-list">
            
      <div class="col-xs-12 col-md-4">


          <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="center block">
                  
                  <h3 class="white">{{title}}</h3>
                  <span class="white source-code">{{displayName}}</span>

                  {{!number of hands}}

                  <br><br>
        
        					<span class="badge source-code">14 hands</span>

                  <br><br>

                </div>  
            </div>
          </div>


      </div>

</article>
