<article class="stack-list">
            
      <div class="col-lg-4">


            <div class="item">
              <div class="grid-item grid-item--width2 text-center">
                <div class="center block">
                  
                  <h3 class="white">{{title}}</h3>
                  <span class="white source-code">{{displayName}}</span>

                  {{!number of hands}}

                  <br><br>
        
        					<span class="badge source-code">14 hands</span>

                  <br><br>

                  <br>
        					<p>
        					<span class="badge">17 hands</span>
        					</p>

                </div>  
              </div>
            </div>

      </div>

</article>
