<article class="stack-list">
            
            <div class="grid">
              <div class="grid-item grid-item--width2 text-center">
                <div class="center block">
                  
                  <h3>{{title}}</h3>
                  <p>{{displayName}}</p>

                  {{!number of hands}}
                  <br>
        					<p>
        					<span class="badge">14 hands</span>
        					</p>

                </div>  
              </div>
            </div>

</article>