<article class="stack-list">
            
            <div class="item">
              <div class="grid-item grid-item--width2 text-center">
                <div class="center block">
                  
                  <h3 class="white">{{title}}</h3>
                  <p class="white">{{displayName}}</p>

                  {{!number of hands}}
                  <br>
        					<p>
        					<span class="badge">17 hands</span>
        					</p>

                </div>  
              </div>
            </div>

</article>
