<article class="stack-list">
            
      <div class="col-lg-4">


            <div class="item">
              <div class="grid-item grid-item--width2 text-center">
                <div class="center block">
                  
                  <h3 class="white">{{title}}</h3>
                  <p class="white">{{displayName}}</p>

                  {{!number of hands}}
                  <br>
        					<p>
        					<span class="badge">14 hands</span>
        					</p>

                </div>  
              </div>
            </div>


      </div>

</article>