@import "settings";

@import "foundation";

ul {
	margin-left: 0px;
}

li {
	list-style: none;
}

body {
  background-color: #333;
}

h1 {
  font-family: "pt-sans", sans-serif;
}

h3 {
  font-family: "pt-sans", sans-serif;
}

h4 {
  font-family: "pt-sans", sans-serif;
}

p {
  font-family: "source-code-pro", sans-serif;
}

small {
  font-family: "source-code-pro", sans-serif;
}

.source-code {
  font-family: "source-code-pro", sans-serif;
}




.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar .nav > li > a {
  color:  #fff;
}
.navbar .nav > li > a:hover {
  color:  #FF3399;
}
.navbar-brand {
  color: #fff;
}
.navbar-brand:hover {
  color: #FF3399;
}

.navbar li { color: #000 }

#application .navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.overlaytext { 
  color:#fff;
  position:absolute;
  z-index:1;
  top:7%;
  left:0;
  width:100%;
  text-align:center;
}

.overlaytext > h1 { 
  color:#fff;
}

.white {
  color:#fff;
}

.black {
  color:#000;
}

.pink-background {
  background-color: #FF3399;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}




.grey-background {
  background-color: #cccccc;
  //background-color: #D0DAE0;
}




/* LOG IN MODAL -------------------------------*/

.modal {
  position: relative;
  margin: 10px auto;
  width: 400px;
  background-color: #fff;
  padding: 1em;
}

.modal-header {
   border-bottom:0px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}

input{
   text-align:center;
}

input[type="text"] {
  font-family: "source-code-pro", sans-serif;
}






.btn-pink {
  background-color: #FF3399;
  border-color: #FF3399;
}
.btn-pink:hover {
  background-color: #ff66b3;
  border-color: #ff66b3;
}
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  background-color: #ff1a8c;
  border-color: #ff0080;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  background-color: #FF3399;
  border-color: #FF3399;
}






.btn-gray {
  background-color: #333;
  border-color: #333;
}
.btn-gray:hover {
  background-color: #5b5b5b;
  border-color: #5b5b5b;
}
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
  background-color: #333;
  border-color: #333;
}
.btn-gray.disabled:hover,
.btn-gray.disabled:focus,
.btn-gray.disabled:active,
.btn-gray.disabled.active,
.btn-gray[disabled]:hover,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray.active {
  background-color: #333;
  border-color: #333;
}







/*
.bubble 
{
position: relative;
width: 750px;
height: auto;
padding: 0px;
margin-top: 20px;
background: #b3b3b3;
text-align: center;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #b3b3b3;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 40px;
}
*/

.commenterImage {
    margin-right:5px;
    height:100%;
    float:left;
}

.commentText {
  color: white;
}


.url{
  color: #FF3399;
}




/*------MASONRY-----------------------------------*/


.grid {
  margin: 0 auto;
}

.grid-item {
  width: 350px;
  height: auto;
  float: left;
  background: #515151;
  margin-bottom: 20px;
  margin: 10px;
  border-radius: 0px;
}

.grid-item:hover {
  background-color: #666;
}



/*-----task list------*/

.list-group-item {
  background: #515151;
  border-color: transparent;
  border-radius: 0px;
}


/*--------stack details---------*/

.edit_hover_class i{
  visibility:hidden;
}

.edit_hover_class:hover i{
  visibility:visible;
}






/* CORDOVA
--------------------------------------*/

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
  }
