{{!stack detail page with task list}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">


		{{stack-detail title=model.title isEditing=isEditing}}

	
		{{input type="text" value=newTodoTitle action="createTodo" placeholder="Enter a todo"}}


		{{#each model.todos as |t|}}
			{{#link-to 'lavender' t}}
				{{task-list title=t.title}}
			{{/link-to}}
		{{/each}}


	</div>

