{{!stack detail page with task list}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">


		{{stack-detail list=model title=model.title creator=model.user.displayName isEditing=model.isEditing store=store}}

	
		{{input type="text" value=newTodoTitle action="createTodo" placeholder="Enter a todo"}}

<div class="sortable-list">
		{{#each model.todos as |t|}}
<div class="fixie">

			{{#link-to 'lavender' model.id t.id}}
				{{task-list todo=t user=controllers.application.model title=t.title store=store list=model}}
			{{/link-to}}
</div>
		{{/each}}
</div>

	</div>

