<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container-fluid">

	{{task-detail title=model.title creator=model.user.displayName}}

	{{create-comment}}

	{{#each model.comment as |comment|}}
		{{comment-thread message=comment.message}}
	{{/each}}

</div>