<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid no-gutter">


		<div class="row">
		<div class="text-center">

			<h1 class="white"><strong>BUILD A LASTING COMMUNITY</strong></h1>

			<p class="lead white">The fastest way to mobilize thousands, in real time</p>

		</div>
		</div>


		<div class="row">
			<div class="text-center">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			{{#link-to 'create'}}<button class="btn-pink source-code">Create a Stack</button>{{/link-to}}
			{{!--<div id="stack-form">
			<div class="input-group input-group-lg center-block">
			{{input class="form-control" type="text" value=newListTitle action="createList" placeholder="Create a campaign/project/event"}}
			</div>
			</div>--}}
		</div>
		</div>
		</div>

		<div class="row">
			<div class="text-center">
				
				<br><br>
				<div class="black-background">
				<p class="white">Discover</p></div>

				<br>

			</div>
		</div>




		<div class="row">
			<div class="col-xs-12">

		{{#each model as |list|}}
			{{#link-to 'honeybee' list}}
			{{stack-list title=list.title displayName=list.user.displayName}}
			{{/link-to}}
		{{/each}}
				</div>
			</div>




	</div>
