<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container-fluid">



<div class="row center-block text-center">
<div class="grey-background">

	{{!manage people title}}
	<h4>Manage People</h4>

	{{!stack title}}
	<h4>{{model.title}}</h4>

</div>
	{{#each model.todos as |todo|}}
		{{helper-list title=todo.title helper=todo.helper.user.displayName}}
	{{/each}}

</div>

</div>